# Ignore Gradle project-specific cache directory
/.gradle/

# Ignore Gradle build output directory
/build/
# Ignore IDEA build output directory
/out/

/.idea/
/.settings/
/.classpath
/.project

*.h2
*.dot
*.graphml
